.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 705px;
  height: 100vh;
}

.menu{
  position: fixed; top: 0;
  background-color: white;
}

.viewButtons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewButtons button{
  width: 100px;
  height: 40px;
  margin: 10px;
  background-color: rgb(233, 233, 233);
  color: rgb(17, 77, 206);
}

.viewButtons .active{
  background-color: rgb(17, 77, 206);
  color: rgb(233, 233, 233);
}

.pokemonsBoxList{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 480px;
  margin: 50px;
  overflow: auto;
}

.pokemonsBoxGrid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 480px;
  margin: 50px;
}